
:root {
    --primary-color: #f876de;
    --secondary-color: #7ee8fa;
    --border-color: #161616;
    --text-font: 'iA Writer Quattro S';
    /*--text-font: 'Helvetica';*/
    --header-font: 'Space Grotesk';
    --code-font: 'Jetbrains Mono';
}


.primary-color {
    color: var(--primary-color);
    -webkit-text-fill-color: var(--primary-color);
}

@font-face {
    font-family: 'iA Writer Quattro S';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ia/iAWriterQuattroS-Regular.woff'), local('woff2'), local('woff');
    font-display: swap;
}

code {
    font-family: var(--code-font);
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--text-font);
    background-image: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 44%);
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    line-height:1.6em
}

.title {
    -webkit-text-fill-color: var(--text-0);
}

.title::before {
    content: "# ";
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    position: relative;
}

article .title::before {
    display: none;
}

a {
    color: var(--text-0);
}

strong, b {
    background-color: var(--primary-color);
    background-image: linear-gradient(90deg, #009FFF 0%, var(--primary-color) 74%);
    color: var(--text-0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}

em, cite, i, var {
    background-color: var(--primary-color);
    background-image: linear-gradient(90deg, var(--secondary-color) 20%, var(--primary-color) 114%);
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}

a {
    position: relative;
    border-bottom: 1px;
}

a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1px;
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 90%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);

}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: inherit;
    min-height: 100%;
}

.content {
    flex: 2;
    width: 90%;
    padding: 20px;
}

.footer {
    background-color: #f3e5f5;
    padding: 20px;
}


.foldable {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 50px;
}

.foldable.active {
    max-height: none; /* Do not limit the height in the active state */
}

.foldable:not(.active) {
    max-height: 50px;
}

.foldable-header {
    color: white;
    padding: 10px; // Hello this is Alexander
    cursor: pointer;
    font-family: var(--header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.foldable-content {
    padding: 10px;
    font-family: var(--text-font);
            background: linear-gradient(to right, rgba(248, 118, 222, 0.1), rgba(126, 232, 250, 0.1));

}

.foldable-arrow {
    transition: transform 0.3s ease;
}

.foldable.active .foldable-arrow {
    transform: rotate(180deg);
}
